<div style="margin-top: 100px">
    <footer class="footer-20192">
        <div class="site-section">
            <div class="container">

                <div class="cta d-block d-md-flex align-items-center px-5">
                    <div>
                        <h2 class="mb-0">تا حالا به این فکر کرده بدی خودت بنرین نزنی؟</h2>
                        <h3 class="text-dark">هرجاکه هستی فقط یه درخواست بده تا بنزین بیاد برات</h3>
                    </div>
                    <div class="ml-auto">
                        <a href="#" class="btn btn-dark rounded-0 py-3 px-5">ارتباط با ما</a>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6 col-md-3">
                        <h3>محصولات ما</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">بنزین یورو۴</a></li>
                            <li><a href="#">بنزین معمولی</a></li>
                            <li><a href="#">بنزین سوپر</a></li>

                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h3>شرکت ما</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">تماس با ما</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h3>خدمات ما</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">بنزین رسانی آنلاین</a></li>
                            <li><a href="#">حمل و نقل ایمن</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-10">
                        <h3>ما را دنبال کنید</h3>
                        <ul class="list-unstyled social">
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            <li><a href="#"><span class="icon-medium"></span></a></li>
                            <li><a href="#"><span class="icon-paper-plane"></span></a></li>
                        </ul>
                    </div>
                    {#            <div class="col-6 col-md-3">#}
                    {#                {% load static %}#}
                    {##}
                    {#                    <div class="col-md-3"><img src="{% static 'images/download.png' %}" alt="نماد الکترونیک 1" class="footerr"></div>#}
                    {#            </div>#}
                    {#                          <div class="col-6 col-md-3">#}
                    {#                {% load static %}#}
                    {##}
                    {#                    <div class="col-md-3"><img src="{% static 'images/download.jpeg' %}" alt="نماد الکترونیک 1" class="footerr"></div>#}
                    {#            </div>#}

                </div>
            </div>
        </div>
    </footer>
</div>
<style>

    a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

    a, a:hover {
        text-decoration: none !important;
    }

    .content {
        height: 70vh;
    }

    .footer-20192 {
        position: relative;
        color: #fff;
        padding: 7rem 0;
        background-color: #141d2a;
    }

    .footer-20192 .container {
        position: relative;
    }

    .footer-20192 h3 {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 0;
        line-height: 1.5;
    }

    .footer-20192 .links li {
        margin-bottom: 10px;
        line-height: 1.5;
        display: block;
    }

    .footer-20192 .links li a {
        color: #666873;
    }

    .footer-20192 .links li a:hover {
        color: #fff;
    }

    .footer-20192 .social li {
        display: inline-block;
        position: relative;
    }

    .footer-20192 .social li a {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        margin: 0;
        padding: 0;
        background-color: #8186d5;
        color: #fff;
    }

    .footer-20192 .social li a > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .footer-20192 .footer-logo {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

    .footer-20192 .copyright {
        color: #666873;
    }

    .footer-20192 .cta {
        -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
        box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
        padding: 20px;
        background-color: #8186d5;
        top: -150px;
        position: relative;
    }

    .footer-20192 .cta h2, .footer-20192 .cta h3 {
        line-height: 1.5;
    }

    .footer-20192 .cta h3 {
        font-size: 20px;
    }
</style>
{#footer#}