<footer class="footer" style="color: black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- دو عکس لوگو کوچک -->
                <img src="logo1.png" alt="لوگو 1" class="logo">
                <img src="logo2.png" alt="لوگو 2" class="logo">
            </div>
            <div class="col-lg-4">
                <!-- متن فوتر -->
                <p class="text-right"><a href="link1">نوشته 1</a></p>
                <p class="text-right"><a href="link2">نوشته 2</a></p>
                <!-- ادامه متنهای دیگر -->
            </div>
            <div class="col-lg-4">
                <!-- ستون جدید -->
                <p class="text-right"><a href="link3">نوشته 3</a></p>
                <p class="text-right"><a href="link4">نوشته 4</a></p>
                <!-- ادامه متنهای دیگر -->
            </div>
        </div>
    </div>
</footer>
