<div style="margin-top: 100px">
    <footer class="footer-20192">
        <div class="site-section">
            <div class="container">

                <div class="row">
                    <div class="col-md-3 col-6 text-center">
                        <h3>باما در ارتباط باشید</h3>
                        <ul class="list-unstyled social">
                            <li><a href="http://localhost:8000/contact/"><i class="fas fa-envelope"
                                                                            style="padding:10px;font-size: 40px;width: 1em"></i></a>
                            </li>
                            <li><a href="http://localhost:8000/contact/"><i class="fas fa-phone-volume"
                                                                            style="padding:6px;font-size: 40px;width: 1em"></i></a>
                            </li>
                            <li><a href="http://localhost:8000/contact/"><i class="fas fa-map-marker-alt"
                                                                            style="padding:6px;font-size: 40px;width: 1em"></i></a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-6 col-md-3 text-center">
                        <h3>شرکت ما</h3>
                        <ul class="list-unstyled links">
                            <li><a href="http://localhost:8000/contact/">درباره ما</a></li>
                            <li><a href="http://localhost:8000/contact/">تماس با ما</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 text-center">
                        <h3>خدمات ما</h3>
                        <ul class="list-unstyled links">
                            <li><a href="http://localhost:8000/">بنزین رسانی آنلاین</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 text-center">
                        <h3>محصولات ما</h3>
                        <ul class="list-unstyled links">
                            <li><a href="http://localhost:8000/pay/">بنزین یورو۴</a></li>
                            <li><a href="http://localhost:8000/pay/">بنزین معمولی</a></li>
                            <li><a href="http://localhost:8000/pay/">بنزین سوپر</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</div>
<style>

    a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

    a, a:hover {
        text-decoration: none !important;
    }

    .content {
        height: 70vh;
    }

    .footer-20192 {
        position: relative;
        color: #fff;
        padding: 7rem 0;
        background-color: #141d2a;
    }

    .footer-20192 .container {
        position: relative;
    }

    .footer-20192 h3 {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 0;
        line-height: 1.5;
    }

    .footer-20192 .links li {
        margin-bottom: 10px;
        line-height: 1.5;
        display: block;
    }

    .footer-20192 .links li a {
        color: #666873;
    }

    .footer-20192 .links li a:hover {
        color: #fff;
    }

    .footer-20192 .social li {
        display: inline-block;
        position: relative;
    }

    .footer-20192 .social li a {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        margin: 0;
        padding: 0;
        background-color: #8186d5;
        color: #fff;
    }

    .footer-20192 .social li a > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .footer-20192 .footer-logo {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

    .footer-20192 .copyright {
        color: #666873;
    }

    .footer-20192 .cta {
        -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
        box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
        padding: 20px;
        background-color: #8186d5;
        top: -150px;
        position: relative;
    }

    .footer-20192 .cta h2, .footer-20192 .cta h3 {
        line-height: 1.5;
    }

    .footer-20192 .cta h3 {
        font-size: 20px;
    }
</style>
