<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Navbar Example</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">

</head>
<body>
{% include 'header.html' %}

<div class="container">
    <div class="row">

        <div class="col-md-8">
            {% load static %}
            <img src="{% static 'images/hero.png' %}" alt="My image">
        </div>


        <div class="col-md-4 mt-4">
            <div class="card mx-auto border-danger  mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card mx-auto border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<section>
    <div class="container mt-5 mx-auto">
        <div class="row">
            <div class="col-md-3 mt-4">
                <div class="card mx-auto" style="width: 18rem;border-radius: 50px;border: 4px solid black">
                    <div class="mx-auto" style="font-size: 40px"><i class="fas fa-gas-pump"></i></div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="width: 18rem;">
                    <div class="mx-auto" style="font-size: 40px"></div>
                    <div class="card-body">
                        {#                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of#}
                        {#                            the#}
                        {#                            card's content.</p>#}
                    </div>
                </div>
            </div>
            <div class="col-md-3  mt-4">
                <div class="card mx-auto" style="width: 18rem;border-radius: 50px;border: 4px solid black">
                    <div class="mx-auto" style="font-size: 40px"><i class="fas fa-shield-alt"></i></div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-3 mt-4">
                <div style="width: 18rem;">
                    <div class="mx-auto" style="font-size: 40px"></div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-3  mt-4">
                <div class="card mx-auto" style="width: 18rem;border-radius: 50px;border: 4px solid black">
                    <div class="mx-auto" style="font-size: 40px"><i class="fas fa-truck-pickup"></i></div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <div style="width: 18rem;">
                    <div class="mx-auto" style="font-size: 40px"></div>
                    <div class="card-body">
                        {#                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of#}
                        {#                            the#}
                        {#                            card's content.</p>#}
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <div class="card mx-auto" style="width: 18rem;border-radius: 50px;border: 4px solid black">
                    <div class="mx-auto" style="font-size: 40px"><i class="fas fa-money-bill-wave"></i></div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container mt-5">
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mt-4">
                    <div class="card text-white bg-dark shadow-lg"
                         {% if product.price == 10000 %}style="max-width: 20rem; background: linear-gradient(to top right, #ea6b3e, #c9b73f);"
                         {% else %}style="max-width: 20rem; background: linear-gradient(to top right, #2d2d2d, #1a1a1a);"{% endif %}>
                        <div class="card-header text-center border-bottom border-light">
                            <p class="text-uppercase mb-0">{{ product.name }}</p>
                            <h1 class="d-flex justify-content-center align-items-center mt-3">
                                <span class="mt-2" style="font-size: 1.5rem;">تومان</span>
                                <span style="font-size: 3rem;">{{ product.price }}</span>
                                <span class="mt-2" style="font-size: 1.5rem;">/هر لیتر</span>
                            </h1>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li class="d-flex align-items-center mb-3">
                                    <span class="badge badge-pill badge-light text-dark p-2 mr-3"><i
                                            class="fas fa-check"></i></span>
                                    <p class="mb-0">کیفیت بالا</p>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <span class="badge badge-pill badge-light text-dark p-2 mr-3"><i
                                            class="fas fa-check"></i></span>
                                    <p class="mb-0">کاهش مصرف سوخت</p>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <span class="badge badge-pill badge-light text-dark p-2 mr-3"><i
                                            class="fas fa-check"></i></span>
                                    <p class="mb-0">{{ product.description }}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer border-top border-light text-center">
                            <button class="btn btn-light text-dark font-weight-bold w-100"
                                    onclick="redirectToPayment('{{ product.name }}', {{ product.price }})">خرید
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="d-md-none mt-5">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
{#        <ol class="carousel-indicators mt-5">#}
{#            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>#}
{#            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>#}
{#            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>#}
{#        </ol>#}
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card mx-auto" style="width: 18rem;">
                    {% load static %}
                    <img src="{% static 'images/hero.png' %}" alt="My image">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
{#                    <h5>First slide label</h5>#}
{#                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>#}
                </div>
            </div>
            <div class="carousel-item">
                <div class="card mx-auto" style="width: 18rem;">
                    {% load static %}
                    <img src="{% static 'images/hero.png' %}" alt="My image">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
{#                    <h5>Second slide label</h5>#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                </div>
            </div>
            <div class="carousel-item">
                <div class="card mx-auto" style="width: 18rem;">
                    {% load static %}
                    <img src="{% static 'images/hero.png' %}" alt="My image">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
{#                    <h5>Third slide label</h5>#}
{#                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>#}
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"style="background-color: black"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color:black"></span>
        </a>
    </div>
</section>


{% include 'footer.html' %}

<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
<script src="assets/js/all.js"></script>
<script src="assets/js/owl.carousel.js"></script>


</body>
</html>
