<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>


<STYLE>
    body{
        background-color: #eaf0f0;
    }
</STYLE>
<body>
{#{% include 'header.html' %}#}

<div class=" d-none d-md-block">
    <div class="row">
        <div class="col-md-8 mx-auto">
            {% load static %}
            <img src="{% static 'images/order4.jpeg' %}" class="col-md-12"
                 style="object-fit: cover;"
                 alt="My image">
        </div>
    </div>
</div>
{% if orders %}
    <div class="table-responsive  rounded col-md-12">
        <table class="table table-striped table-bordered text-center">
            <thead class="bg-primary text-white">
            <tr>
                <th class="font-weight-bold p-3" contenteditable="false">Product-ID</th>
                <th class="font-weight-bold p-3" contenteditable="false">Description</th>
                <th class="font-weight-bold p-3" contenteditable="false">Price</th>
                <th class="font-weight-bold p-3" contenteditable="false"></th>
                <th class="font-weight-bold p-3" contenteditable="false"></th>
                <th class="font-weight-bold p-3" contenteditable="false"></th>
                <th class="font-weight-bold p-3" contenteditable="false"></th>
                <th class="font-weight-bold p-3" contenteditable="false"></th>
            </tr>
            </thead>
            <tbody class="text-dark" style="background-color: white">
            <tr>
                <td class="p-3" contenteditable="false">YY-853581</td>
                <td class="p-3" contenteditable="false">Notebook Basic</td>
                <td class="p-3" contenteditable="false">$ 299</td>
                <td class="p-3" contenteditable="false">YY-853599</td>
                <td class="p-3" contenteditable="false">Notebook Pro</td>
                <td class="p-3" contenteditable="false">$ 849</td>
                <td class="p-3" contenteditable="false"></td>
                <td class="p-3" contenteditable="false"></td>
            </tr>
            </tbody>
        </table>
    </div>

{% else %}
    <p>سفارش فعالی ندارید</p>
{% endif %}



{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-6 col-md-6">#}
{#            <h2>slaaaaaaaaaaam</h2>#}
{#        </div>#}
{#        <div class="col-6 col-md-6">#}
{#            {% load static %}#}
{#            <img src="{% static 'images/fac.jpeg' %}" style="border-radius: 50%;height: 400px;width: 400px"#}
{##}
{#                 alt="My image">#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}

</body>
</html>

