<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>خرید محصول</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://static.neshan.org/sdk/leaflet/v1.9.4/neshan-sdk/v1.0.8/index.js"></script>
    <link rel="stylesheet" href="https://static.neshan.org/sdk/leaflet/v1.9.4/neshan-sdk/v1.0.8/index.css"/>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/fav2.png' %}">
    <link rel="stylesheet" href="{% static 'css/pay.css' %}">

    <style>
        input[type="text"], input[type="number"], input[type="password"], textarea {
            direction: rtl;
            text-align: right;
        }


    </style>
</head>
<body>
{% include 'header.html' %}
{#    #desktop#}
{#    <style>#}
{#        .time-picker {#}
{#            padding: 10px;#}
{#            font-size: 18px;#}
{#            border: 2px solid #007BFF;#}
{#            border-radius: 5px;#}
{#            width: 200px;#}
{#            direction: rtl;#}
{#        }#}
{#    </style>#}
{##}
{#<label for="timeInput">زمان را انتخاب کنید:</label>#}
{#<input type="time" id="timeInput" class="time-picker" onchange="convertToPersian(this.value)">#}
{##}
{#<p id="persianTime" style="margin-top: 20px; font-size: 20px;"></p>#}
{##}
{#<script>#}
{#    function convertToPersian(time) {#}
{#        const [hour, minute] = time.split(':');#}
{#        const persianHour = parseInt(hour) < 10 ? '۰' + hour : hour;#}
{#        const persianMinute = parseInt(minute) < 10 ? '۰' + minute : minute;#}
{##}
{#        // محاسبه زمان ایران#}
{#        const date = new Date();#}
{#        const utcHour = date.getUTCHours();#}
{#        const iranHour = (utcHour + 3 + 0.5) % 24; // UTC+3:30#}
{#        const persianLocalHour = Math.floor(iranHour);#}
{#        const persianLocalMinute = date.getUTCMinutes();#}
{##}
{#        const displayHour = persianLocalHour < 10 ? '۰' + persianLocalHour : persianLocalHour;#}
{#        const displayMinute = persianLocalMinute < 10 ? '۰' + persianLocalMinute : persianLocalMinute;#}
{##}
{#        document.getElementById('persianTime').textContent = `زمان انتخابی: ${persianHour}:${persianMinute} | زمان ایران: ${displayHour}:${displayMinute}`;#}
{#    }#}
{#</script>#}

<div class="container d-none d-md-block">
    <div class="row">
        <div class="col-md-6 ">
            <div class="mx-auto" style="margin-top: 250px">
                <h2 class="text-right" style="color: white;"> از صفوف طولانی پمپ‌ها خسته شده‌اید؟</h2>
                <p class="text-right" style="color: white;"> بنزین را آنلاین با بنزین یار سفارش دهید و امروز تحویل
                    بگیرید </p>
                {% load static %}
                <img src="{% static 'images/free-white-arrow-down-hand-drawn-design-png-11672138686inenhkfgci (1).png' %}"
                     class=" w-100 h-10"
                     style="object-fit: cover;height: 370px"
                     alt="My image">

            </div>
        </div>
        <div class="col-md-6">
            {% load static %}
            <img src="{% static 'images/p2.jpg' %}" class=" w-100 h-10"
                 style="object-fit: cover"
                 alt="My image">
        </div>
    </div>
</div>
{#    mobile#}
<div class="d-md-none">
    <div class="col-12 aks_pay_mob">
        {% load static %}
        <img class="aks_pay_mob" src="{% static 'images/p3.jpg' %}"
             style="height: 300px;object-fit: cover;border-bottom-right-radius: 20%;border-bottom-left-radius: 20%"
             alt="My image">
    </div>
    <div class="col-12 mb-5">
        <h2 class="text-right" style="color: white">از صفوف طولانی پمپ‌ها خسته شده‌اید؟</h2>
        <p class="text-right" style="color: white">بنزین را آنلاین با بنزین یار سفارش دهید و امروز تحویل بگیرید</p>
    </div>
</div>

<div class="container col-md-6 bg-light mb-5" style="border-radius: 40px ">
    {% if request.GET.msg %}
        <span class="sticky-message container mx-auto text-center" id="stickyMsg">{{ request.GET.msg }}</span>
    {% endif %}
    <form method="POST" id="order-form" style="padding: 40px">
        {% csrf_token %}
        <div class="row">
            <style>
                .sticky-message {
                    position: fixed;
                    top: 10%;
                    left: 0;
                    right: 0;
                    background-color: #BF0A30;
                    color: white;
                    padding: 10px;
                    margin: 0;
                    width: 300px;
                    height: 40px;
                    z-index: 1000;
                    border-radius: 30px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    font-size: 15px;
                }

            </style>

            <div class="form-group col-6 col-md-6 mt-2 text-right">
                <label for="quantity"> :حجم (لیتر)</label>
                <input type="number" style="border: 2px solid #000000" class="form-control" id="quantity"
                       name="quantity" min="10" max="60" placeholder="  بین 10 تا 60 " onchange="updatePrice()">
                <div id="error-message" class="error"></div>
            </div>

            <div class="form-group col-6 col-md-6 mt-2 text-right">
                <label for="product text-right"> : محصولات</label>
                <select class="form-control" id="product" name="product" style="border: 2px solid #000000"
                        onchange="updatePrice()" required dir="rtl">
                    {% if pk != 0 %}
                        {% for product in products %}
                            {% if product.product_id == pk %}
                                <option value="{{ product.product_id }}" selected>{{ product.name }}</option>
                            {% else %}
                                <option value="{{ product.product_id }}">{{ product.name }}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <option value="" selected disabled>انتخاب کنید</option>
                        {% for product in products %}
                            <option value="{{ product.product_id }}">{{ product.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="form-group col-6 col-md-6 mt-2 text-right">
                <label for="full_name">:تحویل گیرنده</label>
                <input type="text" style="border: 2px solid #000000" class="form-control" id="full_name"
                       name="fullname" required placeholder="مثال:شجاعی">
            </div>

            <div class="form-group col-6 col-md-6 mt-2 text-right">
                <label for="price">:قیمت</label>
                <input type="text" class="form-control bg-light" id="price" name="price"
                       style="border: 2px solid #000000" value="" readonly>
            </div>


            <div class="col-md-12"></div>
            <div class="form-group col-md-12 mt-2">
                <label class="col-md-12" style="padding-right: 0">
                    <select class="col-md-6 col-12 float-right" name="time" required
                            style=" border-radius: 15px;padding-right: 0; height: 40px;border: 2px solid black"
                            dir="rtl">
                        <option value="" disabled selected> ساعت دریافت بنزین</option>
                        <option value="7">هفت تا نه صبح</option>
                        <option value="9"><p>نه الی یازده صبح</p></option>
                        <hr>
                        <option value="11">یازده الی یک ظهر</option>
                        <option value="13">یک الی سه ظهر</option>
                        <hr>
                        <option value="15">سه الی پنج عصر</option>
                        <option value="17">پنج الی هفت عصر</option>
                        <hr>
                        <option value="19">هفت الی نه شب</option>
                        <option value="21">نه الی یازده شب</option>
                    </select>
                </label>
                <p class="text-right">سفارشات هر روز همان روز ثبت و انجام میشود</p>
            </div>

            <div class="form-group col-md-12">
                <div id="map" style="border-radius: 50px;border: 2px solid #000000"></div>
            </div>
            <input type="hidden" id="lat" name="lat">
            <input type="hidden" id="lon" name="lon">

            <div class="form-group  col-md-12">
                <label for="description"></label>
                <textarea class="form-control" style="border: 2px solid #000000" placeholder="توضیحات" id="description"
                          name="description" rows="3"></textarea>
            </div>
            <div class="col-md-12 text-center mt-2">
                <button class="button" type="submit">ثبت سفارش</button>
            </div>

        </div>
    </form>
</div>
<script>

    var map;
    var marker;
    var selectedLat, selectedLon;

    function initMap() {
        map = new L.Map('map', {
            key: 'web.640eeefb0692499b8bc6b6d73c4d86ef',  // کلید API خود را جایگزین کنید
            maptype: 'neshan',
            poi: true,
            traffic: false,
            center: [34.6416, 50.8759], // مرکز نقشه به شهر قم
            zoom: 12
        });

        map.on('dblclick', function (e) {
            var latlng = e.latlng;
            selectedLat = latlng.lat;
            selectedLon = latlng.lng;
            document.getElementById('lat').value = selectedLat;
            document.getElementById('lon').value = selectedLon;
            if (marker) {
                marker.setLatLng(latlng);
            } else {
                marker = L.marker(latlng).addTo(map);
            }
        });
    }

    // محصولات و قیمت‌هایشان
    const productPrices = {
        {% for product in products %}
            '{{ product.product_id }}': {{ product.price }},
        {% endfor %}
    };

    document.addEventListener('DOMContentLoaded', (event) => {
        const inputField = document.getElementById('price');
        const placeholderText = 'ابتدا محصول و لیتر را انتخاب کنید.';
        let currentIndex = 0;
        let scrolling = true;

        function scrollText() {
            if (scrolling) {
                inputField.value = placeholderText.slice(currentIndex) + ' ' + placeholderText.slice(0, currentIndex);
                currentIndex = (currentIndex + 1) % placeholderText.length;
            }
        }

        setInterval(scrollText, 200);

        window.updatePrice = function () {
            const productElement = document.getElementById('product');
            const quantityElement = document.getElementById('quantity');
            const selectedProduct = productElement.value;
            const quantity = quantityElement.value;

            if (selectedProduct && quantity) {
                const pricePerUnit = productPrices[selectedProduct];
                const totalPrice = pricePerUnit * quantity;
                inputField.value = totalPrice + ' تومان';
                scrolling = false; // Stop the scrolling
            }
        }
    });

    window.onload = function () {
        initMap(); // بارگذاری نقشه
        hideMessage(); // مخفی کردن پیام
    };


    // تابع برای مخفی کردن پیام بعد از 5 ثانیه
    function hideMessage() {
        const msgElement = document.getElementById('stickyMsg');
        if (msgElement) {
            setTimeout(function () {
                msgElement.style.display = 'none'; // مخفی کردن پیام
            }, 5000); // 5000 میلی‌ثانیه = 5 ثانیه
        }
    }


</script>

</body>
</html>
