<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>صفحه پرداخت</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
    <style>
        #map {
            height: 300px;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="form-group mx-auto">
    {% load static %}
    <img src="{% static 'images/jaigah' %}" class="w-100" style="height: 700px;object-fit: cover"
         alt="My image">
</div>
<div class="container">
    <h1 class="mt-5">صفحه پرداخت</h1>
    <form method="POST">
        <div class="row">
            <div class="form-group col-md-10">
                <label for="product">انتخاب محصولات:</label>
                <select class="form-control" id="product" name="product" onchange="updatePrice()">

                    {% if pk != 0 %}
                        {% for product in products %}
                            {% if product.id == pk %}
                                <option value="{{ product }}" selected>{{ product.name }}</option>
                            {% else %}
                                <option value="{{ product }}">{{ product.name }}</option>
                            {% endif %}

                        {% endfor %}
                    {% else %}

                        <option value="" selected disabled>لطفا محصول خود و لیتر مورد نیاز خودتون رو انتخاب کنید
                        </option>
                        {% for product in products %}
                            <option value="{{ product }}">{{ product.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="quantity">تعداد محصولات (لیتر):</label>
                <input type="number" class="form-control" id="quantity" name="quantity" min="10" max="60" value="0"
                       oninput="updatePrice()">
            </div>
        </div>
        <div class="form-group">
            <label for="price">قیمت:</label>
            <input type="text" class="form-control" id="price" name="price"
                   value=" محصول خود و لیتر مورد نیاز را انتخاب کنید"
                   readonly>
        </div>
        
        <div class="form-group">
            <label for="full_name">نام و نام خانوادگی تحویل گیرنده:</label>
            <input type="text" class="form-control" id="full_name" name="full_name" required>
        </div>
        <div class="form-group">
            <label for="map">موقعیت جغرافیایی:</label>
            <div id="map">
                <img src="https://api.neshan.org/v4/static?key=service.a739152eab9a4ddb99c39b3d6cee57b2&type=neshan&width=500&height=500&zoom=12&center=32.657307%2C51.677579&markerToken=101139.nRmybq5"
                     alt="Neshan Map">
            </div>
        </div>
        <div class="form-group">
            <label for="description">توضیحات:</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="delivery_time">زمان ارسال محصول:</label>
            {#            <select class="form-control" id="delivery_time" name="delivery_time">#}
            {#                {% for day in ["شنبه", "یکشنبه", "دوشنبه", "سه‌شنبه", "چهارشنبه", "پنجشنبه", "جمعه"] %}#}
            {#                    {% for hour in range(0, 24, 2) %}#}
            {#                        <option value="{{ day }} {{ hour }}:00-{{ hour+2 }}:00">{{ day }} {{ hour }}:00-{{ hour+2 }}:00</option>#}
            {#                    {% endfor %}#}
            {#                {% endfor %}#}
            {#            </select>#}
        </div>
        <button type="submit" class="btn btn-primary">ارسال</button>
    </form>
</div>
<script>

    // محصولات و قیمت‌هایشان
    const productPrices = {
        {% for product in products %}
            '{{ product }}': {{ product.price }},
        {% endfor %}
    };

    function updatePrice() {
        const productElement = document.getElementById('product');
        const quantityElement = document.getElementById('quantity');
        const priceElement = document.getElementById('price');

        const selectedProduct = productElement.value;
        const quantity = quantityElement.value;

        if (selectedProduct && quantity) {
            const pricePerUnit = productPrices[selectedProduct];
            const totalPrice = pricePerUnit * quantity;
            priceElement.value = totalPrice + ' تومان';
        }
    }


</script>
</body>
</html>
